In [1]:
import numpy as np
import pandas as pd

Read the three files into python as dataframes

In [2]:
file1 = pd.read_csv('files_for_lab/csv_files/file1.csv')
file2 = pd.read_csv('files_for_lab/csv_files/file2.csv')
file3 = pd.read_csv('files_for_lab/csv_files/file3.csv')

Show the DataFrame's shape.

In [3]:
file1.shape

(4008, 11)

Standardize header names.

In [4]:
file1.columns
#Reordering
file1 = file1[['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
#Standardizing names
cols = []
for i in range(len(file1.columns)):
    cols.append(file1.columns[i].upper())
file1.columns = cols
file1.head()

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
file2.columns
file2 = file2[['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type','Total Claim Amount',  'Vehicle Class']]

file2.columns = cols
file2.head()

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,633.6,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,547.2,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,537.6,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,1027.2,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,451.2,Two-Door Car

In [6]:
file3.columns
file3 = file3[['Customer', 'State','Gender', 'Education',
        'Customer Lifetime Value','Monthly Premium Auto', 'Number of Open Complaints',
        'Income', 'Policy Type', 'Total Claim Amount', 'Vehicle Class']]

file3.columns = cols
file3.head()

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,SA25987,Washington,M,High School or Below,3479.137523,104,0,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,M,Master,2502.637401,66,0,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,F,Bachelor,3265.156348,82,0,25820,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,F,High School or Below,4455.843406,121,0,0,Personal Auto,699.615192,SUV
4,FN77294,California,M,High School or Below,7704.958480,101,2,30366,Personal Auto,484.800000,SUV

In [7]:
#Change column name
file3 = file3.rename(columns={'State':'ST'})
file3.head()

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,SA25987,Washington,M,High School or Below,3479.137523,104,0,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,M,Master,2502.637401,66,0,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,F,Bachelor,3265.156348,82,0,25820,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,F,High School or Below,4455.843406,121,0,0,Personal Auto,699.615192,SUV
4,FN77294,California,M,High School or Below,7704.958480,101,2,30366,Personal Auto,484.800000,SUV

Rearrange the columns in the dataframe as needed

In [8]:
#Allready done

Concatenate the three dataframes

In [9]:
data = pd.DataFrame(columns=cols)
data = pd.concat([data,file1,file2,file3], axis=0)
data.shape

(12074, 11)

Which columns are numerical?

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CUSTOMER                   9137 non-null   object
 1   ST                         9137 non-null   object
 2   GENDER                     9015 non-null   object
 3   EDUCATION                  9137 non-null   object
 4   CUSTOMER LIFETIME VALUE    9130 non-null   object
 5   INCOME                     9137 non-null   float64
 6   MONTHLY PREMIUM AUTO       9137 non-null   float64
 7   NUMBER OF OPEN COMPLAINTS  9137 non-null   object
 8   POLICY TYPE                9137 non-null   object
 9   VEHICLE CLASS              9137 non-null   object
 10  TOTAL CLAIM AMOUNT         9137 non-null   object
dtypes: float64(2), object(9)
memory usage: 1.1+ MB

In [11]:
data.select_dtypes(np.number)

       INCOME  MONTHLY PREMIUM AUTO
0         0.0                1000.0
1         0.0                  94.0
2     48767.0                 108.0
3         0.0                 106.0
4     36357.0                  68.0
...       ...                   ...
7065     73.0                   0.0
7066     79.0                   0.0
7067     85.0                   3.0
7068     96.0                   0.0
7069     77.0                   0.0

[12074 rows x 2 columns]

Which columns are categorical?

In [12]:
data.select_dtypes(object)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car,2.70493
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car,566.472
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV,529.881
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car,17.2693
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23406,71941,Personal Auto,198.235,Four-Door Car
7066,PK87824,California,F,College,3096.51,21604,Corporate Auto,379.2,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.89,0,Corporate Auto,790.785,Four-Door Car
7068,UP19263,California,M,College,7524.44,21941,Personal Auto,691.2,Four-Door Car
7069,Y167826,California,M,College,2611.84,0,Corporate Auto,369.6,Two-Door Car

Understand the meaning of all columns

Perform the data cleaning operations mentioned so far in class

Delete the column education and the number of open complaints from the dataframe.

In [13]:
data = data.drop(['NUMBER OF OPEN COMPLAINTS'],axis=1)
data = data.drop(['EDUCATION'],axis=1)

In [14]:
data.head()

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.70493
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.2693

Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [15]:
#for i in range(len(data['CUSTOMER LIFETIME VALUE'])):
 #   item = data['CUSTOMER LIFETIME VALUE'][i]
  #  item=pd.to_string(item, errors='coerce')
   # print (item[:-1])
        
#data['CUSTOMER LIFETIME VALUE'] = [ for i in data['CUSTOMER LIFETIME VALUE']]

AttributeError: module 'pandas' has no attribute 'to_string'

In [ ]:
data.head()

Check for duplicate rows in the data and remove if any.

In [18]:
data = data.drop_duplicates()
data.shape

(9138, 9)

Filter out the data for customers who have an income of 0 or less.

In [19]:
data[ data['INCOME'] <= 0]

,CUSTOMER,ST,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.70493
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.46
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881
7,CF85061,Arizona,M,721610.03%,0.0,101.0,Corporate Auto,Four-Door Car,363.03
10,SX51350,California,M,473899.20%,0.0,67.0,Personal Auto,Four-Door Car,482.4
...,...,...,...,...,...,...,...,...,...
981,HR64684,Oregon,M,868982.25%,0.0,99.0,Personal Auto,475.2,Four-Door Car
986,KB99097,California,F,446299.70%,0.0,73.0,Special Auto,350.4,Two-Door Car
990,RT69513,California,F,477475.17%,0.0,64.0,Personal Auto,307.2,Four-Door Car
994,MY32149,California,F,368672.38%,0.0,96.0,Personal Auto,28.4606,Two-Door Car
995,SA91515,California,M,399258.39%,0.0,111.0,Personal Auto,700.349,SUV